{% extends 'app/index.html' %}

{% block title %}
    Создать Клиента | {{block.super}}
{% endblock title %}

{% block header %}
Создать Клиента
{% endblock header %}

{% block content %}

    <div class="details-table">
        <form method="POST" action="{% url 'partner_create_url' %}">
            {% csrf_token %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{field.label}} - {{field.errors.as_text}}
                    </div>
                {% endif %}
            {% endfor %}
            <table class="table table-sm">
                <tr>
                    <td>{{form.contractor.label}}: </td>
                    <td>
                        <div class="input-group-sm">
                            {{form.contractor}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{form.name.label}}: *</td>
                    <td>
                        <div class="input-group-sm">
                            {{form.name}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{form.identification_type.label}}: *</td>
                    <td>
                        <div class="input-group-sm">
                            {{form.identification_type}}
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>{{form.data.label}}: *</td>
                    <td>
                        <div class="input-group-sm">
                            {{form.data}}
                        </div>
                    </td>
                </tr>                
                
            </table>
            <button type='submit' class='btn btn-success'>Создать</button>
            <a href="{% url 'partner_list_url' %}" class="btn btn-light">Отмена</a>

        </form>
    </div>

{% endblock content %}

