{% extends 'app/index.html' %}

{% block title %}
    Список Клиентов | {{block.super}}
{% endblock title %}

{% block header %}
    Список Клиентов
{% endblock header %}

{% block header_buttons %}
    <a href="{% url 'partner_create_url' %}" class="btn btn-success">Добавить Клиента</a>
{% endblock header_buttons %}



{% block content %}

    <div class="content-item pb-5 align-self-start mb-3">
        {% include "app/partner/partner_table_list.html" %}
    </div>

    <div class="details"></div>
   
{% endblock content %}
