
<div class="detail-container modal-dialog modal-lg p-3">
    <div class="slider-close"></div>
<div class="row">
    <div class="col-6">
        <div class="pt-3 pb-2 mb-3">
            <h5 class="d-inline-block">Информация по "{{partner.name}}"</h5>
            <div class="btn-group">
                    <a href="{% url 'partner_delete_url' partner.id %}" class="btn btn-secondary ">Удалить</a>
                    <a href="{% url 'partner_update_url' partner.id %}" class="btn btn-secondary ">Изменить</a>
            </div>
            <div class="alert d-none" id="message-text">
                <span></span>
            </div>
            </div>
            {% include "app/partner/partner_sum.html" %}
        </div>

    <div class="col-6">
        <h5 class='pt-3 pb-2 mb-3'>Контрагент клиента
            "{{partner.name}}"</h5>
        {% include "app/contractor/contractor_sum.html" with contractor=partner.contractor %}

        <div class="pt-3 pb-2 mb-3">       
            <h5 class='d-inline-block'>Карты у
                "{{partner.name}}"</h5>
                <a href="{% url 'card_create_url' %}" class="btn btn-success">Добавить</a>
        </div>
        {% if partner.cards.all %}
            {% include "app/card/card_table_list.html" with cards=partner.cards.all is_details=True %}
        {% else %}
            <p>Карт у "{{partner.name}}
                " не существует</p>
        {% endif %}
    </div>
</div>
<h5 class='pt-3 pb-2 mb-3'>Транзакции по "{{partner.name}}"</h5>
{% if partner.transactions.all %}
    <div class="detail-transactions">
        {% include "app/transaction/transaction_table_ajax.html" with filter_key=partner.name %}        
    </div>
{% else %}
    <p>Транзакций по "{{partner.name}}
        " не существует</p>
{% endif %}

</div>
<script>
    closeModal();

</script>