<div id="transactions">
    <div class="datepicker input-group-sm d-inline-block mb-3">
        <input type="text" id='min' class="form-control" placeholder='От'>
    </div>
    <div class="datepicker input-group-sm  d-inline-block mb-3">
        <input type="text" id='max' class="form-control d-inline-block" placeholder='До'>
    </div>
    <div class="input-group-sm  d-inline-block mb-3">
        <button class="btn btn-secondary" id="cancel-filters">Сбросить фильтры</button>
    </div>

    <table class="table table-sm mx-auto" id="table-transactions-list" style="width: 100%;">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Карта</th>
                <th scope="col">Клиент</th>
                <th scope="col">Станция</th>
                <th scope="col">Пост</th>
                <th scope="col">Время</th>
                <th scope="col">Сумма</th>
                <th scope="col">Инициатор</th>
            </tr>
            <tr>
                <th scope="col">
                    <input class="form-control form-control-sm" type="number" placeholder="Найти по ID" />
                </th>
                <th scope="col">
                    <input class="form-control form-control-sm" type="text" placeholder="Найти по карте" />
                </th>
                <th scope="col">
                    <input class="form-control form-control-sm" type="text" placeholder="Найти по клиенту" />
                </th>
                <th scope="col">
                    <input class="form-control form-control-sm" type="text" placeholder="Найти по станции" />
                </th>
                <th scope="col">
                    <input class="form-control form-control-sm" type="number" placeholder="Найти по посту" />
                </th>
                <th scope="col">
                    <span class="text-sm"><i>Выберите диапазон дат выше</i></span>
                </th>
                <th scope="col">
                    <input class="form-control form-control-sm" step="0.2" type="number" placeholder="Найти по сумме" />
                </th>
                <th scope="col">
                    <select class="form-control form-control-sm">
                        <option disabled>Выбрать по типу запуска</option>
                        <option value="">Любой</option>
                        <option value="0">Контроллер</option>
                        <option value="1">Веб-приложение</option>
                        <option value="2">Купюроприемник</option>
                        <option value="3">QR код</option>

                    </select>
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

<script>
$(document).ready(function(){

    $('#table-transactions-list thead tr:eq(1) th').each( function (i) {

        $( 'input, select', this ).on( 'keyup change', function () {
           if ( table.column(i).search() !== this.value ) {
                table
                    .column(i)
                    .search( this.value )
                    .draw();
            }
        } );
    } );

    var table = $("#table-transactions-list").DataTable({
        select: true,
        "order": [[ 0, "desc" ]],
        "language": {
            "lengthMenu": "_MENU_",
            "zeroRecords": "Ничего не найдено",
            "info": "Страниц: _PAGE_ из _PAGES_",
            "zeroRecords":    "Записей нет",
            "infoEmpty": "Не найдено",
            "infoFiltered": "(Поиск по _MAX_ записям)",
            "search" : "Фильтр",
            "paginate": {
                "first":      "Первая",
                "last":       "Последняя",
                "next":       "Следующая",
                "previous":   "Предыдущая"
            },
        },
        destroy: true,
        orderCellsTop: true,
        "serverSide": true,
        "ajax": {
            url: "{% url 'transactions_ajax_request' %}",
            data: function(data) {
                date_from = $('#min').datepicker({ dateFormat: 'dd.mm.yy' }).val();
                date_to = $('#max').datepicker({ dateFormat: 'dd.mm.yy' }).val();
                filter_key = "{{ filter_key }}";

                data.filter_key = filter_key;
                data.date_from = date_from;
                data.date_to = date_to;
            }
        }
    });

    $("#transactions #min").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });
    $("#transactions #max").datepicker({ onSelect: function () { table.draw(); }, changeMonth: true, changeYear: true });

    $('#transactions #min, #transactions #max').change(function () {
        table.draw();
    });

    // Cancel all filters   
    $('#transactions #cancel-filters').click(function(){

        $("#transactions #min, #transactions #max").val(function(i){
            if (this.value !== "") {
                this.value = "";
                table.search("").draw();
            }
        })

        $("#table-transactions-list input, #table-transactions-list select").val(function(i){
            if ( table.column(i).search() !== "" ) {
                this.value = "";
                table.column(i).search("").draw();
            } 
        });
    });

});


</script>
