<table class="table table-sm">
    <tr>
        <td>ID</td>
        <td>
            {{post.id}}
        </td>
    </tr>
    <tr>
        <td>Идентификатор</td>
        <td>
            {{post.post_id}}
        </td>
    </tr>
    
    <tr>
        <td>Информация</td>
        <td>
            {{post.station.owner}}
        </td>
    </tr>
    <tr>
        <td>Пост</td>
        <td>
            {{post.mac_uid}}
        </td>
    </tr>
    <tr>
        <td>Счет</td>
        <td>
        {% if post.erip_id %}
            {{post.erip_id}}
        {% else %}
            <b>Не существует</b>
        {% endif %}
        </td>
    </tr>
        
</table>