    <table class="table table-sm mx-auto">
        <tbody>
            <tr>
                <td>Название карты</td>
                <td>
                    {{card.name}}
                </td>
            </tr>
            <tr>
                <td>Данные карты</td>
                <td>
                    {{card.data}}
                </td>
            </tr>
            
            <tr>
                <td>Транзакций по карте</td>
                <td>
                    {{card.transactions.count}}
                </td>
                
            </tr>
            
        </tbody>
    </table>