<div class="detail-container modal-dialog modal-lg p-3">
    <div class="slider-close"></div>
    <div class="row">
        <div class="col">
            <div class="pt-3 pb-2 mb-3">
                <h5 class='d-inline-block'>
                Сводная информация по {{card.name}}
                </h5>
                <div class="btn-group">
                    <a href="{% url 'card_delete_url' card.id %}" class="btn btn-secondary ">Удалить</a>
                    <a href="{% url 'card_update_url' card.id %}" class="btn btn-secondary ">Изменить</a>
                </div> 
            </div>
            <div class="detail-summary align-self-center">
                    {% include "app/card/card_sum.html"%}
                </div>
            <h5 class="pt-3 pb-2 mb-3">Клиент по карте "{{card.name}}"</h5>
            <div class="detail-summary align-self-center">
                {% include "app/partner/partner_sum.html" with partner=card.partner %}
            </div>
        </div>
        <div class="col">
        <h5 class="pt-3 pb-2 mb-3">Контрагент по карте "{{card.name}}"</h5>

            <div class="detail-summary align-self-center  ">
                {% include "app/contractor/contractor_sum.html" with contractor=card.partner.contractor %}
            </div>
        </div>
    </div>
    <h5 class='pt-3 pb-2 mb-3'>Транзакции по "{{card.name}}"</h5>

    {% if card.transactions.all %}
        <div class="detail-transactions">
            {% include "app/transaction/transaction_table_ajax.html" with filter_key=card.data %}
        </div>
    {% else %}
        <p>Транзакций по "{{card.name}}" не существует</p>
    {% endif %}
</div>

<script>
    closeModal();
</script>