<div class="detail-container modal-dialog modal-lg p-3">
    <div class="slider-close"></div>
    <div class="row">
        <div class="col-6">
            <h5 class="pt-3 pb-2 mb-3">Клиент по карте "{{card.data}}"</h5>
            <div class="detail-summary align-self-center">
                {% include "app/partner/partner_sum.html" with partner=card.partner %}
            </div>
        </div>
        <div class="col-6">
        <h5 class="pt-3 pb-2 mb-3">Контрагент по карте "{{card.data}}"</h5>

            <div class="detail-summary align-self-center  ">
                {% include "app/contractor/contractor_sum.html" with contractor=card.partner.contractor %}
            </div>
        </div>
    </div>
    <h5 class='pt-3 pb-2 mb-3'>Транзакции по "{{card.data}}"</h5>

    {% if card.transactions.all %}
        <div class="detail-transactions">
            {% include "app/transaction/transaction_table_ajax.html" with filter_key=card.data %}
        </div>
    {% else %}
        <p>Транзакций по "{{card.data}}" не существует</p>
    {% endif %}
</div>

<script>
    closeModal();
</script>