{% extends 'app/index.html' %}

{% block title %}
    Список карт |
    {{block.super}}
{% endblock title %}

{% block header %}
    Список карт
{% endblock header %}

{% block header_buttons %}
    <a href="{% url 'card_create_url' %}" class="btn btn-success">Добавить карту</a>
{% endblock header_buttons %}

{% block content %}
    <div class="content-item pb-5 align-self-start mb-3">
        {% include "app/card/card_table_list.html" %}
    </div>
    <div class="details"></div>

{% endblock content %}
