<h5>Контрагенты</h5>
<table class="table-list table table-sm table-hover mx-auto has-detail ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя</th>
            <th scope="col">Баланс</th>

        </tr>
    </thead>
    <tbody>
        {% for contractor in contractors %} 
            <tr>
                <td>{{contractor.id}}</td>
                <td>{{contractor.name}}</td>
                <td>{{contractor.balance}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table> 