<h5>Запустить мойку</h5>
<form method="POST" action="{% url 'start_wash_url' %}" novalidate>
    {% csrf_token %}
    {% for field in wash_form %}
        {% if field.errors %}
            <div class="alert alert-danger" role="alert">
                {{field.errors}}
            </div>
        {% endif %}
    {% endfor %}
    <div class="form-group">

        {% for field in wash_form %}
            <div class="input-group-sm start-wash-input">
                {{field.label}}:
                {{field}}
            </div>


        {% endfor %}
        <button class='btn btn-secondary' type='submit'>Отправить</button>

    </div>


</form>
<script>

function loadPosts() {
    var url = '{% url "load_posts_url" %}' 
    var stationId = $("#id_station").val();
    csrf = $('form').find('input[name=csrfmiddlewaretoken]').val()
    $.ajax({ 
        type: 'POST',
        url: url, 
        data: {
            'station': stationId,
            'csrfmiddlewaretoken': csrf,
        },
        success: function (data) { 
            $("#id_post").html(data); 
        }
    });
}

function loadCards() {
    var url = '{% url "load_cards_url" %}' 
    var partnerId = $("#id_partner").val();
    csrf = $('form').find('input[name=csrfmiddlewaretoken]').val()
    $.ajax({ 
        type: 'POST',
        url: url, 
        data: {
            'partner': partnerId,
            'csrfmiddlewaretoken': csrf,
        },
        success: function (data) { 
            $("#id_card").html(data);
        }
    });
}

    $("#id_station").change(function () {
        loadPosts();
    });
    $("#id_partner").change(function () {
        loadCards();
    });

    $(document).ready(function () {
        loadPosts();
        $("#id_card").html("");
    });

</script>
