{% url 'partner_list_url' as partner_list_url %}
{% url 'app_url' as app_url %}
{% url 'contractor_list_url' as contractor_list_url %}
{% url 'card_list_url' as card_list_url %}
{% url 'station_list_url' as station_list_url %}
{% url 'post_list_url' as post_list_url %}
{% url 'payment_list_url' as payment_list_url %}
{% url 'epos_payment_list_url' as epos_payment_list_url %}


{% url 'partner_create_url' as partner_create_url %}
{% url 'contractor_create_url' as contractor_create_url %}
{% url 'station_create_url' as station_create_url %}
{% url 'user_transaction_list_url' as user_transaction_list_url %}
{% url 'transaction_list_url' as transaction_list_url %}


<div class="sidebar-sticky">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Выберите: </span>        
            </h6>
            <li class="nav-item {% if request.path == contractor_list_url %}active{% endif %}">
                <a class="nav-link text-truncate" href="{{contractor_list_url}}">
                        <i class="fas fa-money-check"></i>
                        <span class="d-none d-sm-inline">Контрагенты</span>          
                </a>
                {% if contractors_list %}
                <a class="collapsed" href="#contractors_menu" data-target="#contractors_menu" data-toggle="collapse" aria-expanded="false"></a>
                <div class="collapse" id="contractors_menu" aria-expanded="false">
                    <ul class="nav flex-column pl-4">
                        {% for contractor in contractors_list %}
                            <li class="nav-item py-0 {% if request.path == contractor.get_absolute_url %}active{% endif %}">
                                <a class="nav-link" href="{{contractor.get_absolute_url}}">
                                    <span>{{ contractor }}</span>
                                </a>
                                {% if contractor.partners %}
                                    <a class="collapsed" href="#partner_menu_{{ contractor.id }}" data-target="#partner_menu_{{ contractor.id }}" data-toggle="collapse" aria-expanded="false"></a>
                                    <div class="collapse" id="partner_menu_{{ contractor.id }}" aria-expanded="false">
                                        <ul class="nav flex-column pl-4">
                                            {% for partner in contractor.partners.all %}
                                                <li class="nav-item py-0 {% if request.path == partner.get_absolute_url %}active{% endif %}">
                                                    <a class="nav-link" href="{{partner.get_absolute_url}}">
                                                        <span>{{ partner }}</span>
                                                    </a>
                                                    {% if partner.cards.all %}
                                                        <a class="collapsed" href="#card_menu_{{ partner.id }}" data-target="#card_menu_{{ partner.id }}" data-toggle="collapse" aria-expanded="false"></a>
                                                        <div class="collapse" id="card_menu_{{ partner.id }}" aria-expanded="false">
                                                            <ul class="nav flex-column pl-4">
                                                                {% for card in partner.cards.all %}
                                                                    <li class="nav-item py-0 {% if request.path == card.get_absolute_url %}active{% endif %}">
                                                                        <a class="nav-link" href="{{card.get_absolute_url}}">
                                                                            <span>{{ card }}</span>
                                                                        </a>
                                                                    </li>
                                                                {% endfor %}
                                                            </ul>
                                                        </div>
                                                    {% endif %}
                                                </li>
                                                
                                            {% endfor %}
                                        </ul>

                                    </div>
                                    
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div> 
                {% endif %}  
            </li>
            <li class="nav-item {% if request.path == station_list_url %}active{% endif %}">
                <a class="nav-link" href="{{ station_list_url }}">
                    <i class="fas fa-handshake"></i>               
                    <span>Станции</span>
                </a>
                {% if stations_list %}
                <a class="collapsed" href="#stations_menu" data-target="#stations_menu" data-toggle="collapse" aria-expanded="false"></a>
                <div class="collapse" id="stations_menu" aria-expanded="false">
                    <ul class="nav flex-column pl-4">
                        {% for station in stations_list %}
                            <li class="nav-item py-0 {% if request.path == station.get_absolute_url %}active{% endif %}">
                                <a class="nav-link" href="{{station.get_absolute_url}}">
                                    <span>{{ station }}</span>
                                </a>
                                {% if station.posts %}
                                    <a class="collapsed" href="#stations_menu_{{ station.id }}" data-target="#stations_menu_{{ station.id }}" data-toggle="collapse" aria-expanded="false"></a>
                                    <div class="collapse" id="stations_menu_{{ station.id }}" aria-expanded="false">
                                        <ul class="nav flex-column pl-4">
                                            {% for post in station.posts.all %}
                                                <li class="nav-item py-0 {% if request.path == post.get_absolute_url %}active{% endif %}">
                                                    <a class="nav-link" href="{{post.get_absolute_url}}">
                                                        <span>{{ post }}</span>
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </li>
            <li class="nav-item">
                <a class="collapsed nav-link text-truncate">
                    <i class="fas fa-shopping-basket"></i>               
                    <span>Платежи</span>
                </a>
                <a class="collapsed" href="#payment_menu" data-target="#payment_menu" data-toggle="collapse" aria-expanded="false"></a>
                <div class="collapse" id="payment_menu" aria-expanded="false">
                    <ul class="nav flex-column pl-4">
                        <li class="nav-item {% if request.path == epos_payment_list_url %}active{% endif %}">
                            <a class="nav-link" href="{{ epos_payment_list_url }}">
                                Платежи EPOS/ЕРИП
                            </a>
                        </li>
                        <li class="nav-item {% if request.path == payment_list_url %}active{% endif %}">
                            <a class="nav-link" href="{{ payment_list_url }}">
                                Платежи юридических лиц
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Недоступные посты: </span>        
        </h6>
        <div id="unavailable_post_list" class="m-3">     
            {% csrf_token %}
        </div>
</div>

<script>
    // Show unavailable posts
    $(document).ready(function(){
        csrf = $("#unavailable_post_list").find("input[name=csrfmiddlewaretoken]").val();
        url = "{% url 'unavailable_post_list_request_url' %}";

        ajaxReq = function() {
            elems = $()
            
            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    'csrfmiddlewaretoken': csrf,
                },
                success: function (data) {
                    $(data.results).each(function(){
                        message =   "<b>Станция:</b> "
                                    + this.station__owner
                                    + ".<br> <b>Пост:</b> " + this.post_id
                                    + " <br>"
                                    + "<b>Последний раз был доступен:</b><br> "
                                    + this.last_seen;
                        elems = elems.add("<div class='alert alert-danger' role='alert'>"
                        + "<button type='button' class='close' data-dismiss='alert' aria-label='Close'><span aria-hidden='true'>&times;</span></button>"
                        + message + "</div>")
                    })
                    $("#unavailable_post_list .alert").remove();
                    $("#unavailable_post_list").append(elems);
                }
            
            });
            setTimeout(ajaxReq, 60000);
        };
        ajaxReq();

        if ( $(".nav-item").hasClass("active") ) {
            parents = $(".nav-item.active").parents();
            parents.each(function(){
                if ( $(this).hasClass("collapse") ) {
                    $(this).addClass("show");
                }
            })
        }

        $(".sidebar-sticky").niceScroll();

        // TODO: Correct it!
        $('.sidebar-sticky').mouseover(function() {
            $('.sidebar-sticky').getNiceScroll().resize();
        })

    })
</script>