{% extends "app/index.html" %}

{% block title %}
    Главная |
    {{block.super}}
{% endblock %}

{% block sidebar %}
    {% include 'app/includes/sidebar.html' %}
{% endblock sidebar %}

{% block header %}
    Главная
{% endblock header %}

{% block content %}
    <div class="row">
        <div class="col">
            <h5>Запустить мойку</h5>
            {% include "app/includes/dashboard/start_washing_form.html" %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% include "app/includes/dashboard/partner_list.html" %}

        </div>
    </div>
    <div class="row">
    <div class="col">
            {% include "app/includes/dashboard/transaction_list.html" %}
    </div>
    </div>


{% endblock content %}
