<div class="detail-container modal-dialog modal-lg p-3">
    <div class="slider-close"></div>
    <div class="row">
        <div class="col">
            <div class="pt-3 pb-2 mb-3">
                <h5 class='d-inline-block'>
                Сводная информация по {{station.owner}}
                </h5>
                <div class="btn-group">
                    <a href="{% url 'station_update_url' station.id %}" class="btn btn-secondary ">Изменить</a>
                </div>
            </div>
            <div class="detail-summary align-self-center">
                {% include "app/station/station_sum.html" %}
            </div>
        </div>
        <div class="col">
            <div class="pt-3 pb-2 mb-3">
                <h5 class='d-inline-block'>
                    Посты
                    {{station.owner}}
                </h5>
            </div>

            {% include "app/post/post_table_list.html" with posts=station.posts.all is_details=True %}
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h5 class='pt-3 pb-2 mb-3'>Транзакции по "{{station.owner}}"</h5>
            {% if station.transactions.all %}
                <div class="detail-transactions ">
                    {% include "app/transaction/transaction_table_ajax.html" with filter_key=station %}
                </div>
            {% else %}
                <p>Транзакций по "{{station.owner}}
                    " не существует</p>
            {% endif %}
        </div>
    </div>
</div>
<script>
    closeModal();
</script>