<table class="table table-sm">
    <tr>
        <td>Владелец</td>
        <td>
            {{station.owner}}
        </td>
    </tr>
    <tr>
        <td>Идентификатор</td>
        <td>
            {{station.station_id}}
        </td>
    </tr>
    
    <tr>
        <td>Информация</td>
        <td>
            {{station.info}}
        </td>
    </tr>
    <tr>
        <td>Посты</td>
        <td>
            {{station.posts.count}}
        </td>
    </tr>
    <tr>
        <td>Транзакций всего</td>
        <td>
            {{station.transactions.count}}
        </td>
    </tr>
        
</table>