<div class="detail-container modal-dialog modal-lg p-3">

    <div class="slider-close"></div>

    <div class="row">
        <div class="col">
            <div class="pt-3 pb-2 mb-3">
                <h5 class='d-inline-block'>
                Сводная информация по {{contractor.name}}
                </h5>
                <div class="btn-group">
                    <a href="{% url 'contractor_delete_url' contractor.id %}" class="btn btn-secondary ">Удалить</a>
                    <a href="{% url 'contractor_update_url' contractor.id %}" class="btn btn-secondary ">Изменить</a>
                </div>
            </div>

            <div class="detail-summary align-self-center  ">
                {% include "app/contractor/contractor_sum.html" %}
            </div>

            <div class="pt-3 pb-2 mb-3">
                    <h5 class='d-inline'>
                        Карты
                        {{ contractor.name }}
                    </h5>
                    <a href="{% url 'partner_create_url' %}" class="btn btn-success">Добавить</a>
                </div>
                {% include "app/card/card_table_list.html" with is_details=True partners=contractor.partners.all %}
   
        </div>
        <div class="col">
            <div class="pt-3 pb-2 mb-3">
                <h5 class='d-inline-block'>
                    Клиенты
                    {{contractor.name}}
                </h5>
                <a href="{% url 'partner_create_url' %}" class="btn btn-success">Добавить</a>
            </div>
            {% if contractor.partners.all %}
                {% include "app/partner/partner_table_list.html" with partners=contractor.partners.all is_details=True %}

            {% else %}
                <p>Клиентов у "{{contractor.name}}
                    " не существует</p>
            {% endif %}


        </div>


    </div>

    <h5 class='pt-3 pb-2 mb-3'>Транзакции по "{{contractor.name}}"</h5>
    {% if contractor.partners.all %}

        <div class="detail-transactions">


        {% include "app/transaction/transaction_table_ajax.html" with filter_key=contractor.name %}


        </div>


            
    {% else %}
        <p>Транзакций по "{{contractor.name}}
            " не существует</p>

    {% endif %}
</div>
<script>
    closeModal();
</script>