<div class="detail-summary align-self-center  ">
    <table class="table table-bordered table-sm mx-auto">
        <tbody>
            <tr>
                <td>Имя контрагента</td>
                <td>
                    {{contractor.name}}
                </td>
            </tr>
            <tr>
                <td>УНП</td>
                <td>
                    {{contractor.UNP}}
                </td>
            </tr>
            <tr>
                <td>Адрес</td>
                <td>
                    {{contractor.address}}
                </td>
            </tr>
            <tr>
                <td>Баланс</td>
                <td>
                    {{contractor.balance}}
                </td>
            </tr>
            <tr>
                <td>Клиенты</td>
                <td>
                    {{contractor.partners.count}}
                </td>
                
            </tr>
            
        </tbody>
    </table>
</div>