{% extends 'app/index.html' %}

{% block title %}
Список контрагентов | {{block.super}}
{% endblock title %}

{% block header %}
    Список контрагентов
{% endblock header %} 

{% block header_buttons %}
    <a href="{% url 'contractor_create_url' %}" class="btn btn-success">Добавить контрагента</a>
{% endblock header_buttons %}

{% block content %}
<div class="content-item pb-5 align-self-start mb-3">

<table class="table-list table table-sm table-hover mx-auto has-detail ">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Имя организации контрагента</th>
            <th scope="col">УНП</th>
            <th scope="col">Адрес</th>
            <th scope="col">Баланс</th>
            <th scope="col">Действия</th>

        </tr>
    </thead>
    <tbody>
        {% for contractor in contractors %}
        
        <tr data-item-id='{{contractor.id}}'>
            <td>{{contractor.id}}</td>
            <td>{{contractor.name}}</td>
            <td>{{contractor.UNP}}</td>
            <td>{{contractor.address}}</td>
            <td>{{contractor.balance}}</td>
            <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <a href="{% url 'contractor_delete_url' contractor.id %}" class="btn btn-secondary ">Удалить</a>
                    <a href="{% url 'contractor_update_url' contractor.id %}" class="btn btn-secondary ">Изменить</a>
                    <a href="#" class="btn btn-secondary  btn-detail" data-item-id='{{contractor.id}}'>
                        {% csrf_token %}                   
                        Подробности
                    </a>
                </div>
            </td>

        </tr>
        {% endfor %}
    </tbody>
</table> 

</div>
<div class="detail-container">

    </div>

    <script>
            $('tr[data-item-id], .btn-detail').click(function () {
            getDetailForEntity(this, "{% url 'contractor_detail_url' %}")
        })
    </script>

{% endblock content %}